{
  "plugins": [
    "prettier-plugin-jsdoc",
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-css-order"
  ],
  "importOrder": ["^vue", "^[a-zA-Z]", "^@[a-zA-Z]", "^@/", "^./"],
  "order": "smacss",
  "jsdocCapitalizeDescription": false,
  "overrides": [
    {
      "files": "*.svg",
      "options": {
        "parser": "html"
      }
    }
  ]
}
