{
  "plugins": ["./node_modules/prettier-plugin-jsdoc"],
  "jsdocCapitalizeDescription": false,
  "overrides": [
    {
      "files": "*.svg",
      "options": {
        "parser": "html"
      }
    }
  ]
}
