# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

api-env/
schema/monarch-py.yaml

*.db
.idea
.venv
**pycache**


### Frontend Ignores

/frontend/.DS_Store
/frontend/node_modules
/frontend/dist

/frontend/tests/e2e/videos/
/frontend/tests/e2e/screenshots/
/frontend/cypress

/frontend/mockServiceWorker.js

# local env files
/frontend/.env.local
/frontend/.env.*.local

# Log files
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*

# Editor directories and files
/frontend/.idea
/frontend/.vscode
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?
