[tool.poetry]
name = "monarch-py"
version = "0.0.0"
description = "Python package for interacting with Monarch Initiative knowledge graph"
authors = [
    "glass-ships <glass.ships@outlook.com>",
    "kevin schaper <kevin@tislab.org>",
    "The Monarch Initiative <info@monarchinitiative.org>"
]


packages = [
    { include = "monarch_py", from = "src" }
]


[tool.poetry.dependencies]
### Core dependencies
python = "^3.9"
pydantic = "^1.10.2"
curies = "<1"
linkml = "^1.5.5"
prefixmaps = "^0.1.5"
requests = "^2.28.1"
typer = "^0.7.0"
typer-cli = "^0.0.13"
rich = "*"
docker = "^6.0.1"
pystow = ">=0.5.0"
loguru = "*"
### Optional API dependencies
fastapi ={ version = "^0.87.0", optional = true }
oaklib = "0.5.18rc2"


[tool.poetry.group.dev.dependencies]
pytest = "^7.2.0"
mkdocs = ">=1.4.2"
mkdocs-material = ">=9.1.16"
mkdocstrings = {extras = ["python"], version = ">=0.22.0"}
black = "^22.10.0"
ruff = "*"
uvicorn = {extras = ["standard"], version = "^0.20.0"}
httpx = "^0.24.1"
scholarly = "*"
habanero = "*"
manubot = "*"


[tool.poetry.extras]
api = ["fastapi", "oaklib"]


[tool.poetry.scripts]
monarch = "monarch_py.cli:app"
monarch-api = { callable = "monarch_py.api.main:run", extras = ["api"] }


[tool.ruff]
line-length = 120
ignore = [
    "F541", # f-strings with no placeholders
]
exclude = [
    "tests/fixtures/*.py",
    "src/monarch_py/datamodels/model.py"
]
# per-file-ignores = {"" = ""}


[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"


[tool.poetry-dynamic-versioning]
enable = false
vcs = "git"
style = "pep440"


[tool.pytest.ini_options]
pythonpath = ["src"]