/** normalize.css also installed */

/** document */

* {
  box-sizing: border-box;
}

body {
  line-height: $spacing;
  font-family: $sans;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  min-height: 100vh;
}

main {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: stretch;
  background-color: #efefef;
}

/** headings */

h1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-align: left;
  /** text-transform: uppercase; */
}

h2 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font-weight: 500;
  font-size: 1.3rem;
  text-align: left;
}

h3 {
  width: 100%;
  margin: 0;
  margin-bottom: -20px;
  padding: 10px 0;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: left;
}

/** elements */

svg {
  overflow: visible;
}

p,
blockquote,
figcaption {
  margin: 0;
  padding: 0;
  line-height: $spacing + 0.3;
  text-align: justify;
}

img {
  max-width: 100%;
}

a {
  color: $theme;
  text-underline-offset: 1px;
  transition: color $fast;

  &:hover {
    color: currentColor;
  }
}

button {
  display: inline-flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: currentColor;
  cursor: pointer;
}

input,
textarea {
  appearance: none;
  min-width: 0;
  border: none;
  outline: none;
}

[disabled] {
  filter: saturate(0);
  opacity: 0.35;
  pointer-events: none;
}

ol,
ul {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  line-height: $spacing;
  text-align: left;
}

li {
  margin: 10px 0;
  padding: 0;
  padding-left: 10px;
}

figure {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 20px;
}

hr {
  width: 100%;
  height: 2px;
  margin: 20px 0;
  border: none;
  background: $light-gray;
}

blockquote {
  width: 100%;
  padding: 20px;
  border-radius: $rounded;
  background: $light-gray;
  text-align: left;
}

code {
  padding: 3px 5px;
  background: $off-black;
  color: $white;
  font-family: $mono;
}

b {
  font-weight: 500;
}

strong {
  margin: 0 2px;
  font-weight: 600;
}

::placeholder {
  color: currentColor;
  opacity: 0.5;
}

/** text with tooltip */

[data-tooltip] {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 2px;
}

/** notification dot */

.notification {
  position: relative;
}

.notification:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 5px;
  border-radius: 999px;
  background: $error;
  content: "";
}

/** apex charts */

.vue-apexcharts {
  width: 100%;
}

.apexcharts-menu-item {
  white-space: nowrap;
}

/** tooltips */

.tippy-box {
  max-width: min(600px, 90vw) !important;
  padding: 8px 12px !important;
  background: $off-black !important;
  color: $white !important;
  font-size: 1rem !important;

  @each $placement in ("top", "right", "bottom", "left") {
    &[data-placement^="#{$placement}"] > .tippy-arrow:before {
      border-#{$placement}-color: $off-black !important;
    }
  }

  li {
    margin: 0;
  }
}

.tippy-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 !important;
  gap: 10px;

  a {
    color: $theme-mid;
  }

  a:hover {
    color: $white;
  }
}

/** for spans of text (not clickable, not links, not buttons) with tooltips */
.tooltip {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 2px;
  cursor: help;
}

.mini-table {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: flex-start;
  gap: 5px 20px;
  text-align: left;
}

.mini-table :nth-child(odd) {
  font-weight: 500;
}

/** util */

.truncate:not(:focus) {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@for $i from 1 through 10 {
  .truncate-#{$i}:focus {
    outline: solid 2px $black;
  }

  .truncate-#{$i}:not(:focus) {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $i;
    display: -webkit-box;
    max-width: 100%;
    overflow: hidden;
  }

  .truncate-#{$i}:not(:focus)[tabindex="0"] {
    cursor: zoom-in;
  }
}

/** transitions */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/** force scrollbar to stay visible in some browsers/OSes */

.force-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 99999px;
  background-color: $light-gray;
}

.force-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 99999px;
  background-color: $gray;
}

/** add gradients to scrollable regions */

$fade: 15px;

.scrollable-left::before,
.scrollable-right::after {
  display: block;
  position: sticky;
  width: $fade;
  height: 9999px;
  margin-top: -9999px;
  margin-left: -$fade;
  inset: 0;
  content: "";
}

.scrollable-left::before {
  background: linear-gradient(to right, #d8d8d8 0, transparent $fade);
}

.scrollable-right::after {
  left: calc(100% - $fade);
  background: linear-gradient(to left, #d8d8d8 0, transparent $fade);
}
