// https://stackoverflow.com/questions/57536228/export-sass-scss-variables-to-javascript-without-exporting-them-to-css

:export {
  themeDark: $theme-dark;
  theme: $theme;
  themeMid: $theme-mid;
  themeLight: $theme-light;
}
