/** color palette */
$theme: hsl(185, 100%, 30%);
$theme-mid: hsl(185, 75%, 70%);
$theme-light: hsl(185, 75%, 80%);
$white: #ffffff;
$off-white: #fafafa;
$light-gray: #eeeeee;
$gray: #a0a0a0;
$dark-gray: #808080;
$off-black: #404040;
$black: #000000;
$success: $theme;
$error: #fe3e5e;

/** transitions */
$fast: 0.2s ease;

/** fonts */
$sans: "Poppins", sans-serif;
$mono: "Courier Prime", monospace;

/** line spacing */
$spacing: 1.5;

/** width of main content column on page */
$section: 800px;
$section-big: 1200px;

/** effects */
$rounded: 5px;
$outline: 0 0 0 2px $theme;
$shadow: 0 2px 4px #00000030;

/* table of contents width */
$toc-width: 300px;
