name: Build and Push Semsim Image to GCR
on:
  push:
    branches:
      - similarity

# This job uses RafikFarhad's GitHub action to build and
# push a docker image to a specified GCP repository
jobs:
  build-and-push-to-gcr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # to get all tags
        

      - name: Generate Image Tag
        id: get-tag
        run: |
          echo "IMAGE_TAG=${semsim}" >> $GITHUB_OUTPUT

      - name: Build and Push Image
        uses: RafikFarhad/push-to-gcr-github-action@v5-beta
        with:
          gcloud_service_key: ${{ secrets.JSON_GCLOUD_SERVICE_ACCOUNT_JSON }} # not needed if you use google-github-actions/auth
          registry: us-central1-docker.pkg.dev
          project_id: monarch-initiative
          image_name: monarch-api/monarch-api
          image_tag: ${{ steps.get-tag.outputs.IMAGE_TAG }}
          dockerfile: ./backend/Dockerfile
